* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #30343F;
    color: white;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    background-color: #1B2021;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.header__nav a {
    padding-left: 20px;
}

a:hover {
    color: gray;
}

.selected {
    color: black;
}

.main {
    display: block;
    max-width: 1170px;
    width: 100%;
    align-self: center;
    padding: 20px;
    flex: 1 1 auto;
    margin: 25px;
    background-color: #1B2021;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.main .container {
    display: flex;
}

.main__name {
    flex: 1 1 auto;
    border-right: 1px solid white;
}

.main__info {
    flex: 9 1 auto;
    padding: 0 25px;
}

.main__test {
    flex: 9 1 auto;
    padding: 0 25px;
}

.main__name p {
    margin-bottom: 5px;
}

.main__title {
    margin-bottom: 5px;
}

/* Ноды */

.node circle {
    fill: rgb(247, 106, 214);
    stroke: rgb(184, 37, 81);
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    fill: white;
}

.node {
    cursor: pointer;
}

path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F4F4F4;
    text-shadow: 0 1px 4px black;
    float: right;
}