* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f2e9e4;
}

li {
    list-style-type: none;
}

:root {
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: #fff;
}

html, body {
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #f2f5f7;
    line-height: 1.5;
    position: relative;
}

.header {
    /* Make it stick */
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
            var(--header-height-difference) * -1
    ); /* Multiply by -1 to get a negative value */
    display: flex;
    align-items: center;

    /* Other */
    background-color: var(--header-bg);
    box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header__body {
    /* Make it stick */
    height: var(--header-inner-height);
    position: sticky;
    top: 0;

    /* Other */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__name {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
}

.header__name a {
    color: black;
    text-decoration: none;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
}

.header__nav a,
.header__nav button {
    font-size: 1.125rem;
    color: inherit;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
}

.header__nav a {
    display: none;
    font-size: 1.125rem;
    color: inherit;
    text-decoration: none;
}

.header__nav button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header__nav a:hover:after,
.header__nav button:hover:after {
    transform: scalex(1);
}

.header__nav a:after,
.header__nav button:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.main {
    margin-top: 3rem;
}

.main__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.widget {
    width: auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
    background-color: #fff;
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    order: 0;
    flex: 1 1 auto;
    flex-grow: 0;
    align-self: auto;
}

.widget:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.5);
}

.widget > * + * {
    margin-top: 1.25em;
}

.widget h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}

.widget code {
    display: inline-block;
    padding: 0.125em 0.25em;
    border-radius: 2px;
    background-color: #bee5d3;
}

.widget strong {
    font-weight: 700;
}

.widget p {
    max-width: 300px;
}

.widget__image {
    text-align: center;
    padding: 0 0;
    width: 300px;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    align-self: center;
}

.widget__input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: box-shadow;
}

.widget__input:hover {
    box-shadow: 0.2rem 0.8rem 1.6rem rgba(0,0,0, 0.1);
}

.widget__input::placeholder {
    color: #B0BEC5;
}

.widget__button {
    width: 100%;
    padding: 15px 15px;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    transition: background 0.15s ease;
}

.widget__center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.widget__button:focus {
    /*outline: 0;*/
}

.widget__button:hover {
    background-color: black;
    color: white;
}

@media (min-width: 767px) {
    .header__nav a {
        display: inline-block;
    }

    .header__nav button {
        display: none;
    }
}

.widget__a {
    color: black;
}

.widget h3 {
    margin: 0;
    color: gray;
}

.default-a {
    color: black;
}

.default-a:hover {
    color: gray;
}

.hidden {
    visibility: hidden;
}

.button__a {
    color: black;
    width: 100%;
    padding: 15px 15px;
    background-color: white;
    border-radius: 5px;
    transition: background 0.15s ease;
    border: 1px solid black;
}

.button__a:hover {
    background-color: black;
    color: white;
}

.margin0 {
    margin: 0;
}
