<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АУК</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Автоматизированный учебный курс">
    <meta name="author" content="khisamov.studio">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->

    <link rel="shortcut icon" th:href="@{/assets/favicon.png}">
    <link rel="icon" th:href="@{../static/assets/favicon.svg}">
    <link rel="icon" th:href="@{../static/assets/favicon.svg}" type="image/svg+xml">
    <link rel="apple-touch-icon" th:href="@{../static/assets/favicon.svg}">

</head>
<body>
  <div class="wrapper">
      <header class="header">
          <div class="container">
              <div class="header__title">
                  <a href="/">Автоматизированный учебный курс</a>
              </div>
              <nav class="header__nav">
                  <a href="/profile">Личный кабинет</a>
                  <a href="/courses">Курсы</a>
                  <a href="/about" style="color: #86C232">О нас</a>
              </nav>
          </div>
      </header>
      <main class="main">
          <div class="container">
              <div class="noflex">
                  <p><b>Автоматизированный учебный курс (АУК)</b> - это программное средство профессиональной подготовки
                      персонала,
                      реализующее предъявление обучаемому графического и текстового материала нормативно-технической
                      документации
                      конкретного учебного курса и обеспечивающее контроль качества подготовки обучаемых.</p>
                  <p><b>АУК</b> является программно-информационной системой, состоящей из программ для ЭВМ, реализующих
                      сценарии учебной деятельности, и определенным образом подготовленных знаний
                      (структурированной информации и системы упражнений для ее осмысления и закрепления). Следуют
                      ключевые проблемы проектирования АУК:
                      подготовка информационного описания теоретического материала (учебных текстов, эскизов, графических
                      иллюстраций, сценариев демонстрационно-иллюстрирующих программ и анимаций и т.п.),
                      создание упражнений для активизации процесса усвоения теории, разработка сценариев (алгоритмов
                      управления) для организации эффективной целенаправленной познавательной деятельности учащихся.</p>
                  <p>Для разработки АУК используют специальные инструментальные программные средства, называемые иногда
                      авторскими системами.
                      Степень совершенства той или иной авторской системы определяется сервисными возможностями по вводу,
                      редактированию, компоновке текстовой части учебного материала, наличием шрифтов
                      для математической символики, использованием графики, типами упражнений (с множественным выбором, с
                      числовым ответом, с конструируемым ответом), включением элементов
                      гипертекста, мультимедиа и т.п. Однако все эти "ухищрения" создателей авторских систем предоставляют
                      разработчикам АУК лишь потенциальные возможности для реализации
                      их дидактических идей. Проектирование АУК ведется за "столом" и является своего рода искусством,
                      вследствие чего АУК, подготовленные разными авторами даже в одной
                      авторской среде, могут существенно отличаться по их дидактической эффективности. В данном разделе
                      рассматривается ряд методических предложений, позволяющих перевести процесс проектирования АУК,
                      естественно не в полной мере, из сферы искусства и дидактических фантазий
                      преподавателей-разработчиков на более обоснованную системно-технологичную платформу, обеспечивая тем
                      самым повышение качества
                      и производительности разработки компьютерных курсов.</p>
                  <p>При проектировании глобального сценария АУК целесообразно планировать в начале учебной работы
                      создание у обучаемых мотивации,
                      знакомство с общей структурой учебного материала АУК (теории алгоритмизации или поэтапного
                      формирования умственных действий),
                      напоминание, если это необходимо, ранее изученного материала (ассоциативно-рефлекторная теория). При
                      разработке локальных сценариев
                      (последовательности выполнения упражнений в ходе изучения отдельных учебных элементов) сначала
                      планируются к выполнению упражнения со схемами,
                      чертежами и другими графическими иллюстрациями (материализованная форма деятельности), а следом за
                      ними - более абстрактные упражнения.
                      Сценарии каждого упражнения целесообразно планировать в соответствии с универсальной бихевиористской
                      формулой.
                      Учитывая дробный, порционный характер процедуры обучения с помощью АУК, необходимо также
                      предусматривать в глобальном сценарии промежуточные и завершающий обобщающие этапы.</p>
              </div>
          </div>
      </main>
  </div>
</body>
</html>