<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АУК</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Автоматизированный учебный курс">
    <meta name="author" content="khisamov.studio">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->

    <link rel="shortcut icon" th:href="@{/assets/favicon.png}">
    <link rel="icon" th:href="@{../static/assets/favicon.svg}">
    <link rel="icon" th:href="@{../static/assets/favicon.svg}" type="image/svg+xml">
    <link rel="apple-touch-icon" th:href="@{../static/assets/favicon.svg}">

</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__title">
                <a href="/">Автоматизированный учебный курс</a>
            </div>
            <nav class="header__nav">
                <a style="color: #86C232">Админка</a>
                <a th:href="${auth > 0 ? '/courses' : '/login'}">Курсы</a>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__header">
                <div class="main__name"><a href="/admin"></a>Админ</div>
                <div class="main__title">Админка</div>
                <div class="main__buttons">
                    <a href="/logout">Выйти</a>
                </div>
            </div>
            <div class="main__content">
                <div class="main__general">
                    <p>Пользователи</p>
                    <p>
                        <label for="id1">Иван Рудков</label>
                        <input type="checkbox" id="id1">
                    </p>
                    <p>
                        <label for="id2">Денис Стулой</label>
                        <input type="checkbox" id="id2">
                    </p>
                    <p>
                        <label for="id3">Василий Прежний</label>
                        <input type="checkbox" id="id3">
                    </p>
                    <p>
                        <input type="button" value="Удалить пользователей" class="button">
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>