<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>АУК</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Автоматизированный учебный курс">
  <meta name="author" content="khisamov.studio">
  <link th:href="@{/css/normalize.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header__body responsive-wrapper">
      <div class="header__name"><a href="/">Автоматизированный учебный курс</a></div>
      <nav class="header__nav">
        <a href="/profile">Личный кабинет</a>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="main__body responsive-wrapper">
      <div class="widget widget__center">
        <h2>Создание вопросов для теста</h2>

        <form role="form" th:action="@{/profile/create/question}" th:method="POST" th:object="${question}">
          <label>Напишите вопрос</label>
          <input type="text" id="answer" name="text" th:field="*{text}" class="widget__input">
          <br>
          <label>Выберите категорию</label>
          <ul>
            <li th:each="category : ${categories}">
              <input type="radio" th:field="*{category}" th:value="${category}" />
              <label th:for="${#ids.prev('category')}" th:utext="${category.getName()}"></label>
            </li>
          </ul>
          <br>
          <label>Выберите ответ 1</label>
          <ul>
            <li th:each="answer : ${answers}">
              <input type="radio" th:field="*{answers[0]}" th:value="${answer}" />
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <br>
          <label>Выберите ответ 2</label>
          <ul>
            <li th:each="answer : ${answers}">
              <input type="radio" th:field="*{answers[1]}" th:value="${answer}" />
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <br>
          <label>Выберите ответ 3</label>
          <ul>
            <li th:each="answer : ${answers}">
              <input type="radio" th:field="*{answers[2]}" th:value="${answer}" />
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <br>
          <label>Выберите ответ 4</label>
          <ul>
            <li th:each="answer : ${answers}">
              <input type="radio" th:field="*{answers[3]}" th:value="${answer}" />
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <br>
          <label>Выберите правильный ответ</label>
          <ul>
            <li th:each="answer : ${answers}">
              <input type="radio" th:field="*{answer}" th:value="${answer}" />
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <button class="main__button widget__button" type="submit" name="submit">Сохранить вопрос</button>
        </form>
        <a class="main__button widget__button" th:href="@{/profile/create/test}">Перейти к тесту</a>
      </div>
    </div>
  </main>
</div>
</body>
</html>