<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>АУК</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Автоматизированный учебный курс">
  <meta name="author" content="khisamov.studio">
  <link th:href="@{/css/normalize.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header__body responsive-wrapper">
      <div class="header__name"><a href="/">Автоматизированный учебный курс</a></div>
      <nav class="header__nav">
        <a href="/profile">Личный кабинет</a>
        <a th:href="@{/create/question/__${question.getId()}__/answer/}">Создание ответа</a>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="main__body responsive-wrapper">
      <div class="widget widget__center">
        <th:block th:each="answer : ${question.getAnswers()}">
          <a th:href="@{/profile/course/__${course.getId()}__/chapter/{chapterId}/test/{testId}/question/{questionId}/answer/{answerId}(chapterId=${chapter.getId()},testId=${test.getId()},questionId=${question.getId()},answerId=${answer.getId()})}" class="widget widget__a">
            <div>
              <div class="widget">
                <h2 th:utext="${answer.getText()}">Текст ответа</h2>
                <p>
                  <a th:href="@{/profile/edit/answer/{answerId}(answerId=${answer.getId()})}" th:utext="Изменить" class="button__a"></a>
                  <a th:href="@{/profile/delete/answer/{answerId}(answerId=${answer.getId()})}" th:utext="Удалить" class="button__a"></a>
                </p>
              </div>
            </div>
          </a>
        </th:block>
      </div>
    </div>
  </main>
</div>
</body>
</html>