<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>АУК</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Автоматизированный учебный курс">
  <meta name="author" content="khisamov.studio">
  <link th:href="@{/css/normalize.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header__body responsive-wrapper">
      <div class="header__name"><a href="/">Автоматизированный учебный курс</a></div>
      <nav class="header__nav">
        <a href="/profile">Личный кабинет</a>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="main__body responsive-wrapper">
      <div class="widget">
        <form role="form" th:action="@{/edit/question}" th:method="POST" th:object="${question}">
          <label>Изменение вопроса</label>
          <input type="text" th:field="*{text}" class="widget__input">
          <br>
          <label>Изменение категории</label>
          <ul>
            <li th:each="category, itemStat : ${categories}">
              <input type="radio" th:id="category+${itemStat.index}" name="category" th:value="${category.getId()}">
              <label th:utext="${category.getName()}"></label>
            </li>
          </ul>
          <label>Изменение правильного ответа</label>
          <ul>
            <li th:each="answer, itemStat : ${answers}">
              <input type="radio" th:id="rightAnswer+${itemStat.index}" name="rightAnswer" th:value="${answer.getId()}">
              <label th:utext="${answer.getText()}"></label>
            </li>
          </ul>
          <br>
          <button class="widget__button" type="submit" name="submit">Изменить вопрос</button>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>