<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>АУК</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Автоматизированный учебный курс">
  <meta name="author" content="khisamov.studio">
  <link th:href="@{/css/normalize.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header__body responsive-wrapper">
      <div class="header__name"><a href="/">Автоматизированный учебный курс</a></div>
      <nav class="header__nav">
        <a href="/profile">Личный кабинет</a>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="main__body responsive-wrapper">
      <th:block th:each="course: ${courses}">
        <a th:href="@{/profile/course/{courseId}(courseId=${course.getId()})}" class="widget widget__a"><div>
          <h2 th:utext="${course.getName()}">Название курса</h2>
          <h3 th:utext="${course.getUser().getFullName()}">Автор курса</h3>
          <p th:utext="${course.getDescription}">Описание курса</p>
        </div></a>
      </th:block>
      <a th:href="@{/create/course/}" class="widget widget__a">Создание курса</a>
    </div>
  </main>
</div>
</body>
</html>