<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Автоматизированный учебный курс">
    <meta name="author" content="khisamov.studio">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->

    <link rel="shortcut icon" th:href="@{/assets/favicon.png}">

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__title">
                    <a href="/">Автоматизированный учебный курс</a>
                </div>
                <nav class="header__nav">
                    <a href="/login">Личный кабинет</a>
                </nav>
            </div>
      </header>
      <main class="main">
        <div class="container">
          <div class="noflex">

              <form role="form" th:action="@{/registration}" th:method="POST" th:object="${user}">
                  <label>Имя</label>
                  <input type="text" id="name" name="name" th:field="*{name}">

                  <label>Фамилия</label>
                  <input type="text" id="surname" name="surname" th:field="*{surname}">

                  <label>Email</label>
                  <input type="email" id="email" name="email" th:field="*{email}">

                  <label>Преподаватель?</label>
                  <input type="checkbox" id="teacher" name="teacher">

                  <div class="group">
                      <label>Группа</label>
                      <input type="text" id="group" name="group" th:field="*{gruppa}">
                  </div>

                  <label>Пароль</label>
                  <input type="password" id="password" name="password" th:field="*{password}">

                  <input type="submit">
              </form>
          </div>
        </div>
      </main>
    </div>
</body>
</html>