<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АУE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Автоматизированный учебный курс">
    <meta name="author" content="Автоматизированный учебный курс">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->

    <link rel="shortcut icon" th:href="@{/assets/favicon.png}">

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__title">s
                    <a href="/">Автоматизированный учебный курс</a>
                </div>
                <nav class="header__nav">
                    <a href="/profile">Личный кабинет</a>
                    <a href="" class="selected">Тесты</a>
                    <a href="/statistics">Статистика</a>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="main__name">
                    <p class="main__first-name">Ринат</p>
                    <p class="main__second-name">Шакиров</p>
                    <p class="main__group">72811-11</p>
                </div>
                <div class="main__test">
                    <p class="main__title"><b>Вопрос 1</b></p>
                    <p>Кто такой макалей калкин этот?</p>
                    <p><input type="checkbox" checked> Основатель Петербурга</p>
                    <p><input type="checkbox"> Знаменитый клоун</p>
                    <p><input type="checkbox"> Президент России</p>
                    <p><input type="checkbox"> Школьник</p>
                    <br>
                    <p class="main__title"><b>Вопрос 2</b></p>
                    <p>Кто такой этот ваш Обама?</p>
                    <p><input type="checkbox" checked> Президент США</p>
                    <p><input type="checkbox"> Клоун</p>
                    <p><input type="checkbox"> Псевдоним Руслана Хисамова</p>
                    <p><input type="checkbox"> Олигарх</p>
                    <br>
                    <p class="main__title"><b>Вопрос 3</b></p>
                    <p>Что такое аниме?</p>
                    <p><input type="checkbox" checked> Кино</p>
                    <p><input type="checkbox"> Игра</p>
                    <p><input type="checkbox"> Нос</p>
                    <p><input type="checkbox"> Мультфильм</p>
                    <br>
                    <p class="main__title"><b>Вопрос 4</b></p>
                    <p>Что такое шахматы?</p>
                    <p><input type="checkbox" checked> Кино</p>
                    <p><input type="checkbox"> Игра</p>
                    <p><input type="checkbox"> Нос</p>
                    <p><input type="checkbox"> Мультфильм</p>
                    <br>
                    <p class="main__title"><b>Вопрос 5</b></p>
                    <p>Что такое РДР2?</p>
                    <p><input type="checkbox" checked> Кино</p>
                    <p><input type="checkbox"> Игра</p>
                    <p><input type="checkbox"> Нос</p>
                    <p><input type="checkbox"> Мультфильм</p>
                    <br>
                    <p class="main__title"><b>Вопрос 6</b></p>
                    <p>Что такое nose?</p>
                    <p><input type="checkbox" checked> Кино</p>
                    <p><input type="checkbox"> Игра</p>
                    <p><input type="checkbox"> Нос</p>
                    <p><input type="checkbox"> Мультфильм</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>